name: Lint

permissions:
  contents: read

on:
  push:
    branches: ["**"]
  pull_request:
  workflow_dispatch:

env:
  NODE_VERSION: "20"

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    environment: ym2lidarr
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install deps (root + workspaces)
        run: npm ci

      - name: Prisma generate (apps/api)
        run: npx -w apps/api prisma generate --schema ../../prisma/schema.prisma

      - name: Build API
        run: npm --workspace apps/api run build --if-present

      - name: Build Web
        run: npm --workspace apps/web run build --if-present

      - name: Run tests
        run: npm run lint
